/* spacing */
$gutter: 1.5rem;

/* breakpoints */
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

/* header */
$header-height: 8rem;

/* footer */
$footer-height: 5rem;
