@use 'colors';
@import 'reset';

html {
  font-size: 62.5%; // 10px = 1rem
}

body {
  background-color: colors.$black;
}

body,
.app {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s ease 0s 1 forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
