@use 'colors';
@use 'layout';

.home {
  &__header {
    background-color: colors.$black;
    justify-content: center;

    &__logo {
      display: flex;
      height: auto;
      justify-content: center;
      width: 20rem;

      &__image {
        width: 100%;
      }
    }
  }

  &__main {
    display: flex;
  }
}
