@use 'colors';
@use 'layout';

.home {
  &__header {
    background-color: colors.$black;
    justify-content: center;

    &__logo {
      height: auto;
      width: 20rem;
    }
  }

  &__main {
    display: flex;
  }
}
