@use 'colors';
@use 'fonts';
@use 'layout';
@use 'sass:math';

.notification {
  align-items: center;
  animation: animateInOut 10s ease 0s 1 forwards;
  background-color: colors.$red;
  border-radius: layout.$gutter;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: math.div(layout.$gutter, 2) layout.$gutter;

  &__message {
    color: colors.$white;
    font-family: fonts.$sans-serif;
    font-size: fonts.$small;
    font-weight: fonts.$regular;
    line-height: 1.5;
  }
}

@keyframes animateInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateY(100%);
  }

  5%,
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}
