@use 'colors';

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  animation: pulse 2s ease-in-out 0s infinite forwards;
  content: '';
  background-image: url('../assets/icon.svg');
  background-repeat: no-repeat;
  background-size: 4.6rem;
  background-position: 55% 50%;
  border: none !important;
  box-shadow: none !important;
}

.video-js .vjs-big-play-button {
  border: 0 !important;
  background-color: colors.$transparent !important;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2)
  }
}
